:root {
  --primary: #000000;
  --secondary: #ffffff;
  --secondary: #ef7262;
  --secondary: #bbbbbb;
}
/* sans-serif - 16px (400) */
/* proxima-nova - 20.5px (500) */
/* proxima-nova - 12px (500) */
